<header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1 id="header-text">CODE CLASH</h1>
				</div>
				<div class="col-md-2">
					<a href="arena-test.html"><h3 id="arena-link">Go to Arena</h3></a>
				</div>
				<!-- Add link to multiplayer if time allows. -->
			</div>
		</div>
	</nav>
</header>

<div class="container test-background">
	<div class="row">
		<!-- Add handlebars to the user span. -->
		<h3 id="stat-header"><span class="user-render">User</span>'s Profile Page</h3>
	    <div class="col-md-12">
		  	
		  	<div class="row">
		  		<div class="col-md-12">
		  			<h4>Player Score: {{this.score}}</h4>
		  			<h4>Solo Stats</h4>
					<ul>
						<li>Solo Wins: {{this.solo_wins}}</li>
						<li>Solo Losses: {{this.solo_losses}}</li>
						<li>Total Solo Attempts: <span id="solo-attempts"></span></li>
					</ul>
					<!-- IN CASE WE HAVE TIME WE'LL ADD MULTIPLAYER -->
		  			<!-- <h4>Duel Stats</h4>
	  				<ul>
	  					<li>Duels Won: {{this.duel_wins}}</li>
	  					<li>Duels Lost: {{this.duel_losses}}</li>
	  					<li>Total Duels: </li>
	  				</ul> -->
		  		</div>
		  	</div>
	    </div>
	</div>
</div>

<footer>
	<p class="text-center">&copy; Copyright 2017: Dylan Ishihara, Saumya Telang, Roper Macaraeg</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script src="js/blog.js" type="text/javascript"></script>